parameters:
    level: 9
    treatPhpDocTypesAsCertain: false
    paths:
        - bin/
        - config/
        - public/
        - src/
    ignoreErrors:
        - '#no value type specified in iterable type array#'
