<div{{ attributes.defaults({
    'data-controller': 'tabs'
}) }}>
    <ul class="ui-tab-list" role="tablist">
        {% block buttons %}{% endblock %}
    </ul>

    {% block content %}{% endblock %}
</div>
