{% block manifest %}
title: Datepicker
description: Flowbite datepicker.
files:
    - assets/controllers/datepicker_controller.js
dependencies:
    js:
        - flowbite-datepicker
references:
    - https://symfonycasts.com/screencast/last-stack/flowbite
    - https://flowbite.com/docs/plugins/datepicker/
{% endblock %}

{% block demo %}
<label>
    Choose a Date
    <input type="date" data-controller="datepicker" />
</label>
{% endblock %}
