{% block manifest %}
title: Form
description: Form twig components.
dependencies:
    recipes:
        - button
    node:
        - '@tailwindcss/forms'
    php:
        - symfony/ux-twig-component
        - twig/html-extra
files:
    - src/Twig/Components/Form/Row.php
    - templates/components/Form.html.twig
    - templates/components/Form/Errors.html.twig
    - templates/components/Form/Help.html.twig
    - templates/components/Form/Input.html.twig
    - templates/components/Form/Label.html.twig
    - templates/components/Form/Option.html.twig
    - templates/components/Form/Row.html.twig
    - templates/components/Form/Select.html.twig
    - templates/components/Form/Textarea.html.twig
{% endblock %}

{% block instructions %}
    <p>
        To enable the <code>@tailwindcss/forms</code> plugin, you must add the following to
        your <code>tailwind.config.js</code> file:
    </p>
    <twig:HighlightCode language="js">
/** @type {import('tailwindcss').Config} */
module.exports = {
    // ...
    plugins: [
        require('@tailwindcss/forms'),
        // ...
    ],
}</twig:HighlightCode>
{% endblock %}

{% block demo_wrapper %}
    <turbo-frame id="form">
        {{ block('demo') }}

        {% if data is defined %}
            <div class="mb-4">
                <p class="mb-2"><em>Submitted Form Data:</em></p>
                {{ dump(data) }}
            </div>
        {% endif %}
    </turbo-frame>
{% endblock %}

{% block demo %}
<twig:Form multipart class="max-w-sm" action="{{ path('form_demo') }}">
    <twig:Form:Row>
        <twig:Form:Label>Name</twig:Form:Label>
        <twig:Form:Input name="name" placeholder="Kevin Bond" />
        <twig:Form:Help>Your full name.</twig:Form:Help>
    </twig:Form:Row>
    <twig:Form:Row error>
        <twig:Form:Label>Email</twig:Form:Label>
        <twig:Form:Input name="email" type="email" />
        <twig:Form:Errors value="This is the error state" />
    </twig:Form:Row>
    <twig:Form:Row valid>
        <twig:Form:Label>Bio</twig:Form:Label>
        <twig:Form:Textarea name="bio" />
        <twig:Form:Help>This is the valid state.</twig:Form:Help>
    </twig:Form:Row>
    <twig:Form:Row>
        <twig:Form:Label>Birthday</twig:Form:Label>
        <twig:Form:Input name="birthday" type="date" />
    </twig:Form:Row>
    <twig:Form:Row>
        <twig:Form:Label>Gender</twig:Form:Label>
        <twig:Form:Select name="gender" :choices="{null: 'Prefer not to say', male: 'Male', female: 'Female'}" />
    </twig:Form:Row>
    <twig:Form:Row>
        <twig:Form:Label>Interests</twig:Form:Label>
        <twig:Form:Select name="interests[]" multiple  :choices="{php: 'PHP', js: 'Javascript', ruby: 'Ruby'}" />
    </twig:Form:Row>
    <twig:Form:Row>
        <twig:Form:Label>Profile Image</twig:Form:Label>
        <twig:Form:Input name="image" type="file" />
    </twig:Form:Row>
    <twig:Form:Row>
        <twig:Form:Label>Terms</twig:Form:Label>
        <twig:Form:Input name="terms" type="checkbox" />
        <twig:Form:Help>Do you agree to our terms?</twig:Form:Help>
    </twig:Form:Row>
    <twig:Form:Row class="flex items-center">
        <twig:Button type="submit">Submit</twig:Button>
        <div class="ml-4"><em>(click to view submitted data)</em></div>
    </twig:Form:Row>
</twig:Form>
{% endblock %}
