<div
    data-controller="tabs"
    data-tabs-active-class="bg-gray-900 text-gray-100"
    data-tabs-default-tab-value="tab1"
>
    <!-- buttons to toggle between tabs -->
    <div class="flex">
        <button data-target="tab1" data-tabs-target="btn" data-action="click->tabs#select">Tab1</button>
        <button data-target="tab2" data-tabs-target="btn" data-action="click->tabs#select">Tab2</button>
        <button data-target="tab3" data-tabs-target="btn" data-action="click->tabs#select">Tab3</button>
    </div>

    <!-- the tabs -->
    <div>
        <div data-tabs-target="tab" id="tab1">
            Tab 1 content
        </div>

        <!-- tab 2 and 3 are hidden by default, to prevent 'flashing in' -->
        <div data-tabs-target="tab" id="tab2" hidden>
            Tab 2 content
        </div>

        <div data-tabs-target="tab" id="tab3" hidden>
            Tab 3 content
        </div>
    </div>
</div>
