{% block manifest %}
title: Tabs
description: Tabs allow showing and hiding content the currently active tab.
files:
    - assets/controllers/tabs_controller.js
    - assets/styles/tabs.css
dependencies:
    php:
        - symfony/ux-twig-component
references:
    - https://railsnotes.xyz/blog/simple-stimulus-tabs-controller
    - https://flowbite.com/docs/components/tabs/
{% endblock %}

{% block demo %}
<twig:Tabs>
    <twig:block name="buttons">
        <twig:Tabs:Tab id="profile" default>Profile</twig:Tabs:Tab>
        <twig:Tabs:Tab id="dashboard">Dashboard</twig:Tabs:Tab>
        <twig:Tabs:Tab id="settings">Settings</twig:Tabs:Tab>
        <twig:Tabs:Tab id="contact">Contact</twig:Tabs:Tab>
    </twig:block>

    <twig:Tabs:Panel id="profile" default>
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </twig:Tabs:Panel>
    <twig:Tabs:Panel id="dashboard">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </twig:Tabs:Panel>
    <twig:Tabs:Panel id="settings">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </twig:Tabs:Panel>
    <twig:Tabs:Panel id="contact">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </twig:Tabs:Panel>

</twig:Tabs>
{% endblock %}
